body {
    background-color: #00ffcc;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 3px 2px black;
}

h2 {
    color: white;
    text-align: center;
    text-shadow: 3px 2px black;
}

h3 {
    color: white;
    text-align: center;
    text-shadow: 3px 2px black;
}

.button {
    background-color: #3366cc;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}